/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* css reset */
/* css reset */
/* css reset */
/* css reset */
/* css reset */

/* adds font style open sans to the whole html */
html {
    font-family: 'Open Sans', sans-serif;
}


.container {
    width: 100%;
}

/* styles the header  */
header {
    background-color: #c78c06;
}

/* gives style to nav bar */
.nav-bar {
    width: 100%;
    text-align: center;
}

.nav-bar a {
    background-color: #222;
    color: #c78c06;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.nav-bar a:hover {
    background-color: #c78c06;
    color: #222;
}

.nav-bar a.home {
    background-color: #c78c06;
    color: #222;
}

.nav-bar input[type=text] {
    padding: 10px;
    font-size: 14px;
    width: 85%;
    border: none;
}

.search-head {
    color: #222;
}

.fa-magnifying-glass {
    color: #c78c06;
    background: #222;
    padding: 8px;
    font-size: 17px;
}

.welcome img {
    width: 100%;
}

.welcome {
    position: relative;
}

/* Gives style to welcome section */
.text-welcome {
    display: block;
    position: absolute;
    top: 10%;
    bottom: 10%;
    background-color: rgba(34, 34, 34, 0.651);
    color: white;
}

.text-welcome h1 {
    font-size: 3rem;
    font-weight: 700;
    padding: 10px 5px 10px 5px;
}

.text-welcome p {
    font-size: .9rem;
    font-weight: 300;
    line-height: 1rem;
    padding: 10px;
}

.welcomebutton {
    background-color: #c78c06;
    margin-left: .7rem;
    padding: 1.5rem;
    width: 28%;
}

.welcomebutton a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 500;
}

.welcomebutton i {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1rem;
}

.about-us img {
    width: 100%;
    padding-bottom: 10px
}

.about-us h2 {
    font-size: 2rem;
    font-weight: 700;
    padding: 0px 0px 10px 0px;
}

.about-us p {
    font-size: 12px;
    padding-bottom: 10px;
}


.about-us {
    background-color: #ffe6ac;
    padding: 10px 10px 10px 10px;
}

/* adds style to service part */
.services {
    padding: 10px;
}

.services h2 {
    font-size: 2.5rem;
    font-weight: 700;
    padding: 10px 5px;
}

/* gives styles to digital transformation part */
.digital-transformation {
    background-color: #ffe6ac;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.digital-transformation img {
    width: 100%;
    padding-bottom: 20px;
}

.digital-transformation p {
    padding: 10px;
    font-size: 12px;
}

.digital-transformation h3 {
    font-size: 2.4rem;
    font-weight: 700;
    padding: 10px;
}

.dtbutton {
    background-color: #222;
    padding: 30px;
    width: 120px;
    font-size: 16px;
}

.dtbutton a,
i {
    text-decoration: none;
    color: white;
}

/* gives styles to marketing part */
.marketing {
    background-color: #ffe6ac;
    display: block;
    padding-bottom: 10px;
}

.marketing img {
    width: 100%;
    padding-bottom: 20px;
}

.marketing p {
    font-size: 12px;
    padding: 10px;
}

.marketing h3 {
    font-size: 2.4rem;
    font-weight: 700;
    padding: 10px;
}

.msbutton {
    background-color: #222;
    padding: 30px;
    width: 140px;
    font-size: 16px;
}

.msbutton a,
i {
    text-decoration: none;
    color: white;
}

/* gives styles to video production part */
.video_production {
    background-color: #ffe6ac;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.video_production img {
    width: 100%;
    padding-bottom: 20px;
}

.video_production h3 {
    font-size: 2.2rem;
    font-weight: 700;
    padding-block: 10px;
}

.vpbutton {
    background-color: #222;
    padding: 30px;
    width: 120px;
    font-size: 16px;
}

.vpbutton a,
i {
    text-decoration: none;
    color: white;
}

.video_production p {
    padding: 10px;
    font-size: 12px;
}

/* gives styles to web development part */
.web {
    background-color: #ffe6ac;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.web img {
    width: 100%;
}

.web h3 {
    font-size: 2rem;
    font-weight: 700;
    padding: 10px;
}

.webbutton {
    background-color: #222;
    padding: 30px;
    width: 120px;
    font-size: 16px;
}

.webbutton a,
i {
    text-decoration: none;
    color: white;
}

.web p {
    padding: 10px;
    font-size: 12px;
    font-size: 12px;
}

/* gives styles to print part */
.print {
    background-color: #ffe6ac;
    display: block;
    padding-bottom: 10px;
}

.print img {
    width: 100%;
}

.print h3 {
    font-size: 2.2rem;
    font-weight: 700;
    padding: 10px;
}

.psbutton {
    background-color: #222;
    padding: 30px;
    width: 120px;
    font-size: 16px;
}

.psbutton a,
i {
    text-decoration: none;
    color: white;
}

.print p {
    padding: 10px;
    font-size: 12px;
}

/* gives styles to vision part */
.vision img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.vision {
    position: relative;
}

.text-vision {
    position: absolute;
    top: 20%;
    bottom: 10%;
    color: white;
    padding: 10px;
}

.text-vision h3 {
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 20px;
}

.text-vision p {
    padding-bottom: 10px;
    font-size: 12px;
    font-weight: 100;
}

.lmbutton {
    background-color: rgba(34, 34, 34, 0.498);
    padding: 20px;
    width: 80px;
    border: 0.5px solid #c78c06;
    font-size: 12px;
}

.lmbutton a,
i {
    text-decoration: none;
    color: white;
}

/* gives styles to team part */
.team {
    padding: 10px
}

.team h2 {
    font-size: 2.5rem;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 10px;
}

.john {
    padding-bottom: 10px;
}

.john img {
    width: 100%;
}

.text-john {
    background-color: #ffe6ac;
    padding: 10px;
}

.text-john h3 {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 10px;
}

.text-john h6 {
    font-weight: 600;
}

.text-john p {
    font-size: 12px;
    padding-bottom: 10px;
}

.bob {
    padding-bottom: 10px;
}

.bob img {
    width: 100%;
}

.text-bob {
    background-color: #ffe6ac;
    padding: 10px;
}

.text-bob h3 {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 10px;
}

.text-bob h6 {
    font-weight: 600;
}

.text-bob p {
    font-size: 12px;
    padding-bottom: 10px;
}

/* gives styles to contact part */
.contact {
    padding: 2rem 1rem;
    margin: auto;
}

.contact h2 {
    font-weight: 700;
    font-size: 2.5rem;
    padding: 20px 1px 30px 1px;
}

.hours {
    padding: 0rem 1rem;
    margin: auto;
}

hr {
    color: #c78c06;
    border: 1px solid #c78c06;
}

.contact h3 {
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.forminput {
    width: 100%;
    font-size: 18px;
}

.formmessageinput {
    width: 100%;
    font-size: 18px;
    height: 120px;
}

.formbutton {
    background-color: black;
    color: #c78c06;
    padding: 2px;
    font-size: 18px;
}

/* gives styles to hours of operation part */
.hours h3 {
    font-size: 2rem;
    font-weight: 700;
}

table {
    width: 100%;
    margin-bottom: 10px;
}

table tr th {
    background-color: #ffe6ac;
    text-align: center;
    padding: 15px;
    border: 0.5px solid black;
}

table td {
    padding: 15px;
    border: 0.5px solid black;
}

.location {
    padding: 1rem;
}

/* gives styles to location part */
.location h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.location iframe {
    width: 100%;
    height: 400px;
}

/* gives styles to footer */
footer {
    color: #c78c06;
    background-color: #222;
    padding: 20px 10px 10px 10px;
}

footer a {
    color: #c78c06;
    text-decoration: none;
}

footer p {
    color: #c78c06;
    padding: 10px;
    font-weight: 100;
    font-size: 10px;
}

.submitButton {
    background-color: transparent;
    outline: none;
    border: 1px solid #c78c06;
}

.searchIcon {
    display: flex;
    padding: 1rem;
    background-color: #222;
}

.searchIcon:hover {
    cursor: pointer;

}

.about-us-wrapper {
    width: 80%;
}

/* makes desktop view for screen sizes from 760px and above  */
@media screen and (min-width: 760px) {
    /* customising whole html font */
    html {
        font-family: 'Open Sans', sans-serif;
    }

    .headwrapper {
        width: 80%;
        display: flex;
    }

    /* gives styles to header */
    header {
        background-color: #222;
        width: 100%;
        padding: 30px 10%;
        display: inline-block;
        justify-content: space-between;
        margin: auto;
    }

    /* gives styles to navigation bar part */
    .nav-bar {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    .nav-bar ul li {
        color: #c78c06;
        display: inline-block;
        text-decoration: none;
        justify-content: space-between;
        margin: auto;
    }

    .nav-bar a {
        padding: 20px;
    }

    .nav-bar a:hover {
        background-color: #c78c06;
        color: #222;
    }

    .nav-bar a.home {
        background-color: #c78c06;
        color: #222;
    }

    .search-head {
        display: inline-block;
        justify-content: space-around;
    }

    .nav-bar input {
        padding: 10px;
        font-size: 16px;
        border: none;
    }

    .fa-magnifying-glass {
        color: #c78c06;
        background-color: #222;
        padding: 15px;
        border: none;
    }

    /* gives styles to welcome part */
    .welcome img {
        width: 100%;
        height: 550px;
        object-fit: cover;
    }

    .welcome-container {
        width: 80%;
        background-color: #222;
        margin-left: 10rem;
    }

    .welcome {
        position: relative;
    }

    .text-welcome {
        display: block;
        width: 80%;
        background-color: rgba(34, 34, 34, 0.651);
        color: white;
    }

    .text-welcome h1 {
        font-size: 7rem;
        line-height: 7rem;
        font-weight: 700;
        padding: 20px;
    }

    .text-welcome p {
        font-size: 1.3rem;
        font-weight: 300;
        padding: 10px;
        line-height: 1.5rem;
    }

    .welcomebutton {
        background-color: #c78c06;
        padding: 30px;
        width: 180px;
        font-size: 16px;
        margin: 10px;
    }

    .welcomebutton a {
        text-decoration: none;
        color: black;
    }

    .welcomebutton i {
        text-decoration: none;
        color: black;
    }

    /* gives styles to about us part */
    .about-us {
        background-color: #ffe6ac;
        display: flex;
        padding: 1rem 10rem;
    }

    .about-us-image {
        width: 50%;
    }

    .about-us-text {
        width: 50%;
        margin-left: 1rem;
    }

    .us-wrapper {
        width: 80%;
        max-width: 1200px;
        align-items: center;
        margin: auto;
    }

    .about-us img {
        padding-bottom: 10px;
    }

    .about-us h2 {
        font-size: 5rem;
        font-weight: 700;
        padding: 10px;
    }

    .about-us p {
        font-size: 1rem;
        padding: 10px;
    }

    /* gives styles to services part */
    .services {
        padding: 10px;
    }

    .services h2 {
        font-size: 3rem;
        font-weight: 700;
        padding: 10px 5px;
    }

    .service-wrapper {
        width: 80%;
        max-width: 1200px;
        align-items: center;
        margin: auto;
    }

    /* gives styles to subheading 2 for whole desktop view */
    h2 {
        font-size: 2rem;
        font-weight: 700;
        padding: 10px;
    }

    /* gives styles to subheading 3 for whole desktop view */
    h3 {
        font-size: 1.7rem;
        font-weight: 700;
        padding: 10px;
    }

    /* gives styles to digital transformation part */
    .digital-transformation img {
        padding-bottom: 20px;
        height: 64%;

    }

    .digital-transformation {
        background-color: #ffe6ac;
        display: block;
        padding-bottom: 10px;
        margin: 0px 10px 10px 10px;
    }

    .dtbutton {
        background-color: #222;
        width: 86%;
        text-align: center;
        font-size: 1.5rem;
        margin: 10px;
    }

    .dtbutton a,
    i {
        text-decoration: none;
        color: white;
    }

    /* gives styles to marketing part */
    .marketing {
        background-color: #ffe6ac;
        display: block;
        padding-bottom: 10px;
        margin: 0px 10px 10px 10px;
    }

    .marketing img {
        height: 64%;
        padding-bottom: 20px;

    }

    .msbutton {
        background-color: #222;
        width: 86%;
        text-align: center;
        font-size: 1.5rem;
        margin: 10px;
    }

    .msbutton a,
    i {
        text-decoration: none;
        color: white;
    }

    /* gives styles to video production part */
    .video_production {
        background-color: #ffe6ac;
        display: block;
        padding: 10px;
        margin-bottom: 20px;
        margin: .6rem;
    }

    .video_production img {

        padding-bottom: 20px;
        height: 45%;

    }

    .vpbutton {
        background-color: #222;
        width: 79%;
        text-align: center;
        font-size: 1.5rem;
        margin: 10px;
    }

    .vpbutton a,
    i {
        text-decoration: none;
        color: white;
    }

    /* gives styles to web development part */
    .web {
        background-color: #ffe6ac;
        padding: 10px;
        margin-bottom: 20px;
        margin: .6rem;
    }

    .web img {
        height: 45%;
        padding-bottom: 20px;
    }

    .webbutton {
        background-color: #222;
        width: 79%;
        text-align: center;
        font-size: 1.5rem;
        margin: 10px;
    }

    .webbutton a,
    i {
        text-decoration: none;
        color: white;
    }

    /* gives styles to print part */
    .print {
        background-color: #ffe6ac;
        display: block;
        padding-bottom: 10px;
        margin: .6rem;
    }

    .print img {
        height: 45%;
        padding-bottom: 20px;
    }

    .psbutton {
        background-color: #222;
        width: 79%;
        text-align: center;
        font-size: 1.5rem;
        margin: 10px;
    }

    .psbutton a,
    i {
        text-decoration: none;
        color: white;
    }

    /* gives styles to vision part */
    .vision img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .vision-wrapper {
        width: 80%;
        max-width: 1200px;
        align-items: center;
        margin: auto;
    }

    .vision {
        position: relative;

    }

    .text-vision {
        position: absolute;
        top: 20%;
        bottom: 10%;
        padding: 10px 0px 10px 0px;
        color: white;
        padding: 10px;
    }

    .lmbutton {
        background-color: rgba(34, 34, 34, 0.498);
        padding: 30px;
        width: 120px;
        border: 0.5px solid #c78c06;
        font-size: 16px;
        margin: 10px;
    }

    .lmbutton a,
    i {
        text-decoration: none;
        color: white;
    }

    /* gives styles to team part */
    .team {
        padding: 10px
    }

    .team-wrapper {
        width: 80%;
        max-width: 1200px;
        align-items: center;
        margin: auto;
    }

    /* gives styles to john part */
    .john {
        display: flex;
    }

    .john img {
        width: 100%;
    }

    .john-image {
        width: 50%;
    }

    .text-john {
        background-color: #ffe6ac;
        padding: 10px;
        width: 50%;
    }

    .text-john h6 {
        font-weight: 600;
    }

    .text-john p {
        font-size: 1.3rem;
        line-height: 2rem;
        font-weight: 600;
    }

    /* gives styles to bob part */
    .bob {
        padding-bottom: 10px;
        display: flex;
    }

    .bob img {
        width: 100%;
    }

    .bob-image {
        width: 50%;
    }

    .text-bob {
        background-color: #ffe6ac;
        padding: 10px;
        width: 50%;
    }

    .text-bob p {
      font-size: 1.3rem;
      line-height: 2rem;
      font-weight: 600;
    }

    .text-bob h6 {
        font-weight: 600;
    }

    /* gives styles to contact part */
    .contact {
        padding: 10px;
        margin: auto;
        width: 50%;
    }

    .contact-wrapper {
        width: 64%;
        align-items: center;
        margin: auto;
        display: flex;
    }

    hr {
        color: #c78c06;
        border: 1px solid #c78c06;
    }

    .forminput {
        width: 100%;
        font-size: 18px;
    }

    .formmessageinput {
        width: 100%;
        font-size: 18px;
        height: 120px;
    }

    .formbutton {
        background-color: black;
        color: #c78c06;
        padding: 2px;
        font-size: 18px;
    }

    /* gives styles to hours of operation part */
    .hours h3 {
        font-size: 2rem;
        font-weight: 700;
    }

    table {
        width: 100%;
        margin-bottom: 10px;
    }

    table tr th {
        background-color: #ffe6ac;
        text-align: center;
        padding: 15px;
        border: 0.5px solid black;
    }

    table td {
        padding: 15px;
        border: 0.5px solid black;
    }

    /* gives styles to location part */
    .location {
        padding: 10px;
        width: 50%;
    }

    .location h3 {
        font-size: 2rem;
        font-weight: 700;
    }

    .location iframe {
        width: 100%;
        height: 400px;
    }

    /* gives styles to  footer */
    footer {
        color: #c78c06;
        background-color: #222;
        padding: 20px 10px 10px 10px;
    }

    .footer-text {
        margin-left: 21rem;
    }

    .footer-wrapper {
        width: 100%;
        /* max-width: 1200px; */
        align-items: center;
        margin: auto;
    }

    footer a {
        color: #c78c06;
        text-decoration: none;
    }

    footer p {
        color: #c78c06;
        padding: 10px;
        font-weight: 100;
        font-size: 10px;
    }

    .hours {
        width: 62%;
        margin-left: 22rem;
    }

    .submitButton {
        background-color: transparent;
        outline: none;
        border: 1px solid #c78c06;
    }

    .searchIcon {
        display: flex;
        padding: 1rem;
        background-color: #222;
    }

    .searchIcon:hover {
        cursor: pointer;
    }

    .about-us-wrapper {
        width: 80%;
    }

    .block1 {
        display: flex;
    }

    .block2 {
        display: flex;
    }
}